$player: #3674ff;
$empty: white;
$obstacle: rgb(143, 147, 143);
$enemy: rgb(246, 57, 57);

$cell: 15px;
$game: $cell*50;

$border: 5px solid black;
$inventory: 20rem;
$item: $inventory/5;

.flash{
  background-color: rgb(252, 25, 10);
}

.game{
  margin: auto;
  display: inline-block;
  width: $game;
  height: $game;
  border: $border;
}

.empty{
  float: left;
  display: inline-block;
  width: $cell;
  height: $cell;
  background-color: $empty;
}

.player{
  @extend .empty;
  background-color: $player;
}

.enemy{
  @extend .empty;
  background-color: $enemy;
}

.obstacle{
  @extend .empty;
  background-color: $obstacle;
}

.potion{
  @extend .empty;
  content: url('../assets/potion.png');
}

.key{
  @extend .empty;
  content: url('../assets/key.jpg');
}

.title{
  margin: auto;
  text-align: center;
  padding: 1rem;
}

.inventory{

  h2{
    text-align: center;
  }
  width: $inventory;
  display: inline-block;
  float: left;
  margin: 2rem;
  text-align: left;
  border:$border;
  height: $inventory;

  .item{
    width: $item;
    height: $item;
    margin: 2px;
    padding: 5px;
    &:hover{
      outline: 2px #81fe5d solid;
      cursor: pointer;
    }
  }

  .key-display{
    @extend .key;
    @extend .item;

  }

  .potion-display{
    @extend .potion;
    @extend .item;
  }
}

.player-display{
  font-size: 1.5em;
  width: 100%;
  .label{
    padding: 1rem;
    display: inline-block;
  }

  .bar{
    padding: 1rem;
    width: 10rem;
    display: inline-block;
  }
  .progressbar-container{
    outline: 1px solid black;
    width: 100%;
    display: inline-block;
  }
}

.game-display{
  .label{
    padding: 1rem;
    display: inline-block;
  }
  .key{
    width: $cell*2;
    height: $cell*2;
  }
  margin-left: 2rem;
  display: inline-block;
  text-align: center;
}
